# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
.next
**/.next
out
build

# Environment variables
.env
.env.local
.env.*.local
**/.env
**/.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Typescript
*.tsbuildinfo

# Testing
coverage
test-results

# Prisma
/packages/storage/prisma/migrations